body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
}

.list{
    list-style: none;
}

.link{
    text-decoration: none;
}

.header {
}

.header-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.header-studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.header-navigation {
}

.header-list {
}

.header-item {
}

.header-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 0.66;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.header-mail {
    font-weight: 400;
    font-size: 16px;
    line-height: 0.66;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-tel {
    font-weight: 400;
    font-size: 16px;
    line-height: 0.66;
    letter-spacing: 0.02em;
    color: #434455;
}

.main {
}
.title-fon {
}
.title-text {
    font-weight: 600;
    font-size: 56px;
    line-height: 0.93;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.title-button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
}

.story {
}

.story-list {
}

.story-item {
}

.story-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.story-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.work {
}

.work-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.work-list {
}

.work-item {
}

.people {
}

.people-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.people-list {
}

.people-item {
}

.people-name {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.people-special {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
}

.footer-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 0.75;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.footer-studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}